@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  background-color: gainsboro;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: gainsboro;
  font-family: "Playfair Display", serif;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;



  padding: 0rem 2rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 10px;
  border: 0;
  height: 1.7rem;
  
  padding-left: 1rem;
}

textarea:focus,
input:focus {
  outline: none;
}




.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.home input {
  width: 300px;
}

.home > :nth-child(2){
  background-color: rgba(209, 199, 199, 0.28);
  display: flex;
  justify-content: space-between;
  padding: 1px;
  border-radius: 10px;
}

.create {
  display: flex;
  gap: 1rem;

  /* justify-content: center; */
  align-items: center;

}

.create input {
  
  /* flex-basis: 80%; */
  /* width: fit-content; */
}

button {
  border-radius: 10px;
  background-color: rgb(240, 236, 231);
  border: 0;
  padding: .3rem 1rem;
  
}


.posts {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.post-details {

  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgb(240, 236, 231);
  padding: .4rem 1rem;

  width: fit-content;

  /* flex: 1 0 20%; */

  border-radius: 1px 20px 20px 20px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.post-details .email {
  color: rgb(195, 168, 168);
  color: #324B4C;
  font-size: .9rem;
}

.post-details .message {
  margin-top: 1rem;
  margin-bottom: .3rem;
}

.active {
  background-color: rgba(230, 224, 233, 0.995);
  align-self: flex-end;
  background-color: #BFE4D7;
  border-radius: 20px 20px 1px 20px ;
}

.post-details p {
  font-weight: bold;
}

.post-details span {
  font-size: 1rem;
}


.element {
  animation: fadein .85s forwards;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
    z-index: -1;
  }

  40% {
    transform: translateY(0px) ;
  }

  60%{
    transform: translateY(5px) ;
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
    z-index: 99;
  }
}

.material-symbols-outlined {
  cursor: pointer;
}



.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* gap: 1rem; */
}

.container-navbar h1 {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  color: #238689;
}

.container-navbar button, .login button {
  background-color: #238689 ;
  color: white;
}

.container-navbar *{
  margin-left: 1rem;
}

.footer {
  padding: 1rem;
}

.signup, .login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  
}

.error {
  color: red;
  background-color: rgb(238, 196, 196);
  border: 1px solid red;
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
}
